 
domain.tld, domain2.tld {

    ## Proxy - https://caddyserver.com/docs/proxy
    proxy / localhost:8000 {
        transparent
        except /media /static
    }


    root /var/www
    ext  .html .md
    gzip


    ## Templating - https://caddyserver.com/docs/templates
    # templates


    ## Logging access and errors
    log access.log

    errors {
        log error.log
        404 404.html
    }

}

